
:host
{
    width: 100%;
    height: 100vh;
}
$sub-text:rgb(171, 167, 167);
$header-text:rgb(62, 60, 60);

.workspace-container{
   
    // border: 1px solid red;
    height:min(100vh,1000px);
    padding: 2.2rem 1.5rem ;
    background-color:#e2dfdf ;
    .header-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        // border: 1px solid red;
        .header-text{
            font-size: min(2vw,1.5rem);
            color: $header-text;
            text-align: center;
            
            
        }
        select{
            padding: 0.2rem;
            border: 2px solid grey;
            border-radius: 0.1rem;
        }
        
        input{
            padding: 0.5rem;
        }
        
        
    }
    .display-list{
        background-color: #f2f2f2;
        border-radius: 8px;
        
        .title,td,th{
            font-size: 0.8rem !important;
            
        }
        .form-select{
            padding: 0.5rem;
            background-color: #b3b3b3 !important;
            option{
                background-color: #fff;
            }
        }
        .status{
            width: 5rem;
            height: 1.5rem;
            // padding: 0.5rem;
            text-align: center;
            
            background-color: aqua;

            border-radius: 2.5rem;
        }

    }
   
    
    
}