.campaign-details{
    
    padding: 2rem;
    border-radius:8px;
    background-color:#ffffff;
    h5{
        font-weight: 900;
    }
    .form{
        display: flex;
        flex-direction: column;
        gap: 20px;
        
    }
    .form-control,.form-select{
        border: 1px solid black;
        border-radius: 0px;
    }
    .optional{
        display: flex;
        gap:20px;
        .form-group{
            width: 100%;
        }
    }
    .alert{
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0 !important;
        color: red;
    }
   
}