    <div class="campaign-container">
    <div class="header">
        <h3>Campaign</h3>
        <input type="search" placeholder="New Campaign">
    </div>
    <div class="progress-bar mt-4 mb-4">
        <div class="bullet" [class.active]="activeProgress.camaping" [class.done]="doneProgress.camaping">
            <p>1</p>
        </div>
        <div class="line " [class.active]="doneProgress.camaping"></div>
        <div class="bullet" [class.active]="activeProgress.location" [class.done]="doneProgress.location"><p>2</p></div>
        <div class="line " [class.active]="doneProgress.location"></div>
        <div class="bullet" [class.active]="activeProgress.audience" [class.done]="doneProgress.audience"><p>3</p></div>
        <div class="line" [class.active]="doneProgress.audience"></div>
        <div class="bullet"  [class.done]="doneProgress.audience"><p>4</p></div>
        
    </div>
    
    <div class="campaign-details">
        <router-outlet></router-outlet>
    </div>
</div>
