

<div class=" sidebar container" >
    <article>
        <nav>
           <div class="profile">
                <div class="photo">
                    <img src="../../assets/icons/users.svg" alt="person">
                </div>
           </div>
           <div class="navigation">
                <img src="../../assets/icons/dashboard.svg" alt="dashboard" title="dashboard" routerLink="/dashboard">
                <img src="../../assets/icons/analytics.svg" alt="analytics" title="analytics">
                <img src="../../assets/icons/anounce.svg" alt="anounce" title="anounce" routerLinkActive="active" routerLink="/campaign">
                <img src="../../assets/icons/usergroup.svg" alt="userGroup" title="userGroup">
           </div>
        </nav>
        <div class="expander" [class.expand]="false">
            <img src="../../assets/icons/expand.svg" alt="expand" title="expand">
        </div>
    </article>
    
</div>


