<div class="workspace-container">
    
    
    <!-- Content to display when current is true -->
    <div class="header-container">
        <h3 class="header-text">
            Manage Campaigns
        </h3>
        <select name="" id="">
            <option value="">Lathesh</option>  
            <option value="">Vikash</option> 
            <option value="">Sathwik</option>
        </select>
    </div>
    <div class="title mt-3">
        <p>User Details</p>
      </div>
    <div class="display-details">
        <div class="userdetails">
            <div class="left ">
                <img src="./../../../assets/image/person.jpg" alt="" class="mb-2">
                <h3>{{userDetails.name}}</h3>
            </div>

            <div class="right">
                <table class="table">
                    <tr>
                        <td >Program ID</td>
                        <td>{{userDetails.id}}</td>
                    </tr>
                    <tr>
                        <td >Status</td>
                        <td>
                            <div class="status" [style.backgroundColor]="userDetails.status === 'completed' ? '#ccffcc' : userDetails.status === 'draft' ? '#e6e6e6' : '#ccccff'">
                                {{userDetails.status}}
                            </div></td>
                    </tr>
                    <tr>
                        <td>CTR</td>
                        <td>{{userDetails.CTR}}</td>
                    </tr>
                    <tr>
                        <td>Start Date</td>
                        <td>{{userDetails.start_date | date:'dd MMMM, h:mm a(YYYY)'}}</td>
                    </tr>

                </table>
                <div class="action">
                    <button class="btn btn-primary " (click)="onEdit(userDetails.id)">Edit</button>
                    <button class="btn btn-danger" (click)="onDelete(userDetails.id)">Delete</button>
                </div>
            </div>
            <div class="delete-model" id="delete-model" [class.show]="toDelete">
                <div class="delete-image">
                    <img src="" alt="">
                </div>
                <div class="delete-message">
                    <h3>Are You Sure Want to Delete this User?</h3>
                    <p>This Location will be deleted permanently!</p>
                </div>
                <div class="confirm-buttons">
                    <button class="btn btn-secondary" (click)="toDelete=false">Cancel</button>
                    <button class="btn btn-danger" routerLink="/campaign" (click)="deleteConfirmed()">Delete</button>
                </div>
    
            </div>
            
        </div>
    </div>
    <div class="edit-model" [class.show]="showEdit">
        <form class="form">
            <h3 class="text-center">Edit User</h3>
            <div class="form-group mb-3">
                <label class="form-label">Name:</label>
                <input type="text" class="form-group" placeholder="Name" class="form-control">
            </div>
            <div class="form-group mb-3">
                <label class="form-label">CTR:</label>
                <input type="text" class="form-group" placeholder="CTR" class="form-control">
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Status:</label>
                <select class="form-select">
                    <option value="Draft">Draft</option>
                    <option value="Scheduled">Scheduled</option>
                    <option value="Completed">Completed</option>

                </select>
            </div>
        </form>
        <div class="confirm-buttons">
            <button class="btn btn-secondary " (click)="showEdit=false">Cancel</button>
            <button class="btn btn-danger mx-3" routerLink="/campaign" (click)="deleteConfirmed()">Submit</button>
        </div>
    </div>
    
</div>
