:host{
    width: 100%;
}
.campaign-container{
    padding: 2.2rem 1.5rem ;
    height: 100vh;
    background-color:#e2dfdf ;
    .header{
        display: flex;
        gap: 1.5rem;
        // border: 1px solid red;
        h3{
            font-size: min(2vw,1.5rem);
            color: rgb(62, 60, 60);
            text-align: center;
        }
        input{
            padding: 0.3rem;
            width: 20rem;
            
        }
    }
    .progress-bar{
        text-align: start;
    }
    
}